@import '../../../app/bower_components/bootstrap/less/bootstrap.less';
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    body {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 18px;
    }
    body.search, body.my_jobs {
            margin:0;
            font-family:'Lato', sans-serif;
            color: #999;
        h1 {
            text-align:center;
        }

        a, a:visited {
            color:#FF5949;
            text-decoration:none;
        }

        a:hover {
            text-decoration:underline;
        }

        .filter {
            div.btn-group {
                margin: 10px auto;
                display: block;
                width: 120px;
            }            
            margin-bottom: 10px;
        }
        .welcome {
            margin-top: 10px;

            ul {
                li {

                display:block;
                margin:0px 1.2em;
                position: relative;
                a {
                    font-size: 16px;
                    line-height: 18px;
                }
                a.btn { color: #fff; }
                a.btn:hover { text-decoration: none; }

                span {
                    font-size: 14px;
                    line-height: 20px;
                    display: block;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                span.label { display: inline-block; }
                div.actions {
                    font-size: 20px;
                    line-height: 24px;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    margin: 10px;
                    width: 75px;
                    height: 30px;
                    i {
                        opacity: 0.5;
                        cursor: pointer;
                        margin-left: 5px;
                    }
                    i:hover {
                        opacity: 1;
                    }
                    a.active {
                        i { opacity: 1; }                                    
                    }

                }
                }
                li.highlight {
                background-color:#fff8e2;
                }
            }
        }

        p {
            margin:2em 0;
            color:#555;
        }
        .job-frame {
            margin-top: 25px;
            padding-right: 45px;
            color: #333;
        }
    }
body.my_jobs {
        .container {
            .saved-jobs {
                margin-left: 150px;
                .filter {
                    min-height: 150px;
                    blockquote {
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }
            }
            width: 100%;
        }
        .welcome {
            ul li {
                padding-right: 75px;
                a.btn { color: #fff; }
                a.btn:hover { text-decoration: none; }
            }
            li.highlight {
                background-color:#fff8e2;
            }
        }    
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 180px;
    height: 100%;
    background: #333;/* 002544 */
    color: #fff;
    padding: 25px 10px;
    strong {
        font-size: 14px;
        line-height: 16px;
        color: #ccc;
        display: block;
    }
    ul.nav {
        li {
            a { color: #fff; }
            a:hover {
                text-decoration: none; 
                color: #333;
            }
        }
    }
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
